.message-name{
    color: var(--link-color); 
}
.button{
    a{
        color: black;
        font-size: 1.5rem;
        padding: 5px;
        &:hover{
            cursor: pointer;
            scale: 1.05;
        }
    }
    .delete:hover{
        color: red;     
    }
    .answer:hover{
        color: orange;
    }
}
