.fa-user-doctor {
    font-size: 300px;
    position: absolute;
    color: black;
    z-index: -1;
    top: -25%;
    left: -25%;
}

.logo {
    font-size: 1.5625rem;
    font-weight: bolder;
    font-style: oblique;
    color: rgb(63, 63, 238);
    width: 100%;
    text-align: center;
}

.navbar {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-right: 35px;
}

#link-list {
    font-size: 1.375rem;
    font-weight: bolder;
    margin-top: 6.25rem;
    width: 100%;
}

#link-list li {
    padding: 20px;
    width: 100%;
}

#link-list li a {
    color: black;
    display: flex;
    align-items: center;

    i {
        margin-right: .625rem;
        color: var(--link-color);
    }

    div {
        font-size: 1rem;
    }
}

.active {
    background-color: var(--active-link);
    border-radius: .9375rem;
}
.logout{
    padding-bottom: 20px;
    margin-top: auto;
    a{
        font-weight: bold;
        &:hover{
            cursor: pointer;
            color: red;
            scale: 1.05;
        }
        i{
            font-size: 1.375rem;
            margin-right: .625rem;
        }
    }
    
}