.edit-btn{
    background-color: rgb(255, 220, 23);
    border-radius: 15px;
    font-size: 1.125rem;
    font-weight: bolder;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-top: 1.25rem;
    &:hover{
        cursor: pointer;
        color: var(--link-color);
        scale: 1.05;
    }
}
.profile-container{
    background-color: white;
    padding: .625rem;
    text-align: center;
    border-radius: .9375rem;
}
.visibile{
    background-color: green;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
}
.non-visibile{
    background-color: red;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
}